.logo-text {
    font-size: 25px;
    padding-left: 20px;
    padding-right: 30px;
}
.icon {
    padding-right: 30px;
}

.bg {
    width: 100%;
    height: 200vh;
    display: flex;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #6666c4 0%, #ffff91 25%, #fad564 51%, #0000ff 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
}
  
@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  
@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.content-start {
    padding-top: 100px;
}

.content-block {
    padding-top: 30px;
    padding-bottom: 50px;
}

.content-size {
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
}

.rounded-edges {
    border-radius: 10px;
}

.prof-pic {
    height: 65px;
    width: 65px;
}

.projects-bg {
    width: 100%;
    height: 200vh;
    display: flex;
    background-color: hwb(48 36% 6%);
}

.project-title {
    font-size: 28px;
    font-weight: 600;
    color: black;
    padding-bottom: 5px;
}
